@import '../../../default.less';
.GPRepairList {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    >div {
        padding: 5px 0;
    }
    .table {
        flex: 1;
        overflow: auto;
    }
    .rowbtns {
        text-align: center;
        i {
            display: inline-block;
            margin: 0 3px;
            cursor: pointer;
            &:hover {
                color: @primary-color;
            }
        }
    }
    .yxf,
    .wxf {
        padding: 5px 10px;
        border-radius: 3px;
        color: white;
    }
    .yxf {
        background: rgb(104, 179, 104);
    }
    .wxf {
        background: rgb(241, 140, 140);
    }
}