@import '../../../default.less';
.District {
    // max-width: calc(~'100% - 200px');
    // max-height: calc(~'100% - 100px');
    position: absolute;
    height: calc(~'100% - 20px');
    width: calc(~'100% - 20px');
    padding: 10px;
    background-color: #fff;
    box-shadow: @box-shadow;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid @primary-color;
        padding-bottom: 5px;
        overflow: hidden;
        >div:first-child {
            font-size: 14px;
            color: white;
            background-color: @primary-color;
            padding: 5px 20px;
            transform: translateY(5px);
            margin-left: 10px;
            text-shadow: 2px 2px 3px #aaa;
            box-shadow: 4px 4px 5px 0 #888;
        }
    }
    .body {
        margin-top: 10px;
        height: calc(~'100% - 50px'); // border: @border;
        overflow: auto;
        .rowbtns {
            i {
                display: inline-block;
                margin: 0 5px;
                cursor: pointer;
                &:hover {
                    color: @primary-color;
                }
            }
        }
    }
    :global {
        .datagrid-header {
            background: @primary-color;
            .datagrid-header-row {
                color: white;
            }
        }
        .datagrid-row {
            transition: 0.3s;
        }
        .datagrid-cell {
            padding: 20px;
        }
        .ant-spin {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .ant-spin.active {
            z-index: 9;
        }
    }
}