<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>嘉兴市区划地名业务平台</title>
  <script>
    var selfSystemUrl = 'http://10.22.112.200:16530/login/SelfSystem';
_g={
  p:'http://localhost:52141',
}

  </script>
</head>
<body>
  <style>
    #g_loading {
      position: fixed;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: white;
      z-index: 999;
    }

    #g_loading>div {
      position: relative;
      width: 600px;
      border: 1px solid rgb(55, 119, 255);
      text-align: center;
      height: 10px;
    }

    #g_loading>div>div {
      height: 100%;
      position: absolute;
      width: 0;
      background: rgb(55, 119, 255);
      animation: 2s g_loading infinite linear;
    }

    @keyframes g_loading {
      from {
        width: 0;
      }

      to {
        width: 100%;
      }
    }

  </style>
  <div id="g_loading">
    <div>
      <div></div>
    </div>
    加载中...
  </div>
  <div id="root"></div>
  <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_779939_imvm61it6bl.css">
  <script src="//at.alicdn.com/t/font_779939_h08fur7eocf.js"></script>

  <link href="http://10.22.233.49/libs/leaflet/1.4.0/leaflet.css" rel="stylesheet">
  <link href="http://10.22.233.49/libs/leaflet.draw/0.4.14/leaflet.draw.css" rel="stylesheet">

  <link href="http://10.22.233.49/libs/rc-easyui/1.0.1/themes/metro/easyui.css" rel="stylesheet" type="text/css">
  <link href="http://10.22.233.49/libs/rc-easyui/1.0.1/themes/react.css" rel="stylesheet" type="text/css">

  <script src="http://10.22.233.49/libs/react/16.7.0/react.production.min.js"></script>
  <script src="http://10.22.233.49/libs/react-dom/16.7.0/react-dom.production.min.js"></script>

  <script src="http://10.22.233.49/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="http://10.22.233.49/libs/leaflet/1.4.0/leaflet.js"></script>
  <script src="http://10.22.233.49/libs/leaflet.draw/0.4.14/leaflet.draw.js"></script>
  <script src="http://10.22.233.49/libs/esri-leaflet/2.2.3/esri-leaflet.js"></script>

  <script src="http://10.22.233.49/libs/moment/2.23.0/moment.min.js"></script>
  <script src="http://10.22.233.49/libs/moment/2.23.0/locale/zh-cn.js"></script>

  <script src="http://10.22.233.49/libs/echarts/4.1.0-release/echarts.min.js"></script>
  <script src="http://10.22.233.49/libs/blueimp-md5/2.10.0/md5.min.js"></script>

  <script src="http://10.22.233.49/libs/pinyin/pinyin_dict_withtone.js"></script>
  <script src="http://10.22.233.49/libs/pinyin/pinyinutil.js"></script>

  <!-- <script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script> -->
</body>
</html>
