<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>嘉兴市区划地名业务平台</title>

  <link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_779939_imwv1pmlfb9.css">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="http://localhost/api/rc-easyui@1.0.1/themes/metro/easyui.css">
  <link rel="stylesheet" type="text/css" href="http://localhost/api/rc-easyui@1.0.1/themes/react.css">
  
  <script src="//at.alicdn.com/t/font_779939_h08fur7eocf.js"></script>
  
  <script src="https://cdn.bootcss.com/react/16.6.3/umd/react.production.min.js"></script>
  <script src="https://cdn.bootcss.com/react-dom/16.6.3/umd/react-dom.production.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.3.1/leaflet.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw.js"></script>
  <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/locale/zh-cn.js"></script>
  
  <script src="https://cdn.bootcss.com/echarts/4.1.0-release/echarts.min.js"></script>
  <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.min.js"></script>
</head>
<body>
  <div id="root"></div>
</body>
</html>