@import '../../default.less';
.UserBadge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    >* {
        margin: 0 5px;
    }
    .logout {
        font-size: 14px;
        cursor: pointer;
    }
    .icon {
        height: 30px;
        width: 30px;
        display: block;
        border-radius: 50%;
        color: white;
        background: @primary-color;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        >i {
            font-weight: 700;
            font-size: 20px;
        }
    }
}

.ModifyPasswordForm {
    .btns {
        margin-top: 20px;
        border-top: 1px solid #eee;
        padding-top: 15px;
        text-align: right;
    }
    :global {
        .ant-form-item {
            margin-bottom: 10px;
        }
    }
}

.mfcontent {
    font-size: 16px;
    >div {
        font-size: 14px;
    }
}